footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 100px;
    background-color: #2d2d2d;
    align-items: center;

}

.link-container {
    display: flex;
    justify-content: center;
}

.link-items {
    margin: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
}