nav {
    position: sticky;
    
    box-shadow: 0 6px 2px -2px black;
    background-color: #212121;
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 70px;
    font-family: "Lucida Console", "Courier New", monospace;
    z-index: 1;
}

.name-nav {
    margin-left: 20px;
    display: flex;
    
}

.nav-item-click {
    text-decoration: none;
    font-size: 30px;
    transition: transform 0.1s ease-in-out;
    display: inline-block; /* Ensures transform applies properly */
}

.nav-item-click:visited {
    color: white;
}

.nav-item-click:hover {
    transform: scale(1.1);

}


.nav-contents {
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
}